# Workshop Aug 2018

## Python - Day 1

#### Goals:

1. Variables & data types 
2. Storing multiple values - lists
3. For loops and conditionals
4. Errors and help


#### Attempting:

13:00 - 13:30 - Introduction & Jupyter & Nomenclature  
13:30 - 13:50 - Variables    
13:50 - 14:30 - Lists   
14:30 - 14:40 - Break  
14:40 - 15:30 - For loops, if/else statements & challenge   
15:30 - 16:00 - Erros and help

## Jupyter

**Setup**  http://swcarpentry.github.io/python-novice-gapminder/setup/

**Jupyter**  http://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html

https://www.oreilly.com/ideas/what-is-jupyter

Jupyter is one way to write code with Python. It's really nice because we can save all the commands and all notes as a notebook. If you work in a lab, you probably have a lab notebook that you keep with all your protocols, your modifications to the protocol, results, discussion, etc. Jupyter notebook is the same but for your code. For those of you wanting to get into programming and you need to keep notes of your scripts, jupyter is a great way to keep scripts, code, and notes.

Things to point out in jupyter:
- name/rename the notebook
- save 
- adding cells below
- cell layout = where code goes, where output shows
- different cells (code and markdown)
    example of python code   
    example of markdown (headings, bold, italic, bullet points, lists, line breaks (2 spaces, or < br >))  
- when writing code, run cell
- click or double-click on a cell (blue color - 'selected'), then click inside the code box (turns green - can write)
- go back, re-write code and run the same cell

- item 1
- item 2

-nospaceitem3

1. ordered item1
2. ordered item2  
    1. ordered subitem 
    2. ordered subitem2
4. and another ordered item.
10. number does not matter

In [216]:
# This is a comment, Python does not read as code...
# It's useful to write little comments in your code... helps you remember what you wrote (:

## Let's define some Python terms...

Python is a **object** oriented language... (huh... okay)

**Object:** pretty much all the *stuff*. It's any data, any group of data, any arrangement of data, files, functions written by us of by python (built-in functions).  
**Data types:** different types of data = string, integer and float.  
**Functions:** a ***little programs*** that do things with the data, such as print, get maximum value, etc. Could be built-in, or created by user.  
**Methods:** are functions, but methods are functions that belong to an object. Different objects will have specific methods/functions. We'll work with strings and lists today -- string methods won't work with lists, even if the method returns the same information.

## Variables

#### First of all: what's a variable?

A variable is an imaginary box that we store values or data in. If you have a file with data, which could be a table with entries and numbers or genomic data, python will only process that data if it's in variable.

Use `=` to assign a value to a variable.

Variable names on the left -- values on the right.

Variable name is arbitrary -- no spaces, letters (lowercase, case-sensitive), digits (cannot start with a digit), but choose a name that is meaningful to you

In [30]:
age = 30
first_name = 'Nathalia'

You must create the variables before you can work with it.  

Variables created in this notebook will persist between cells.

Use the built-in function `print(x)` to print the values of your variables.  
`x` is your variable.

In [222]:
print(age) # Did you notice that Jupyter automatically writes the closing paranthesis?!

30

In [5]:
print(first_name) # remember the tab auto complete?! It works here too!

Nathalia

In [226]:
age # interactive

30

In [3]:
first_name

'Nathalia'

##### 1. String

In [6]:
fruit='banana'

In [7]:
fruits='banana and orange'

In [8]:
sport='soccer'

In [9]:
print(fruit)
print(fruits)

banana
banana and orange

##### 2. Integers

In [10]:
age=30

In [11]:
tires=4

##### 3. Float

In [12]:
exponent=1e-10

In [13]:
decimals=0.35

##### Find out the data type

`type(x)` is built-in function that returns the type of data stored in a variable.

In [14]:
type(fruit)

str

In [15]:
type(tires)

int

In [16]:
type(exponent)

float

##### Use built-in function `print()`

`print()` can take strings and variables.  
This function will automatically put a single space between arguments, and a new line at the end.

In [17]:
print('My age is',age)

My age is 30

In [18]:
print(first_name,'is',age,'years old.')

Nathalia is 30 years old.

In [19]:
print(first_name,'is',age,'years old.')
print('My age is',age)

Nathalia is 30 years old.
My age is 30

##### Calculations

In [20]:
a=1.5
b=4.5

In [21]:
c=a+b
print(c)

6.0

In [22]:
d=c/a
print(d)

4.0

In [23]:
e=c/b
print(e)

1.3333333333333333

In [24]:
f=c//b
print(f)

1.0

In [25]:
my_age=age-5
print('My real age is',my_age)

My real age is 25

In [26]:
my_age

25

In [27]:
age

30

In [28]:
age=age+5

In [29]:
age

35

In [31]:
fruit+sport

'bananasoccer'

In [32]:
crazy=fruit+sport
print(crazy)

bananasoccer

##### `len(x)` as nested functions

In [33]:
print(len(crazy))

12

In [34]:
g=len(crazy)
print(g)

12

##### Index and slicing a string

In [35]:
first_name

'Nathalia'

In [36]:
first_name[0]

'N'

In [37]:
first_name[3]

'h'

**INDEX**  

|  N  |  A |   T |   H |   A |   L |   I |   A |
|------|------|------|------|------|------|------|------|------|
|  0  |   1  |    2 |   3  |    4 |   5 | 6 |  7|

In [38]:
first_name[0:3]

'Nat'

**SLICING**

| |  N  |  | A |  | T |  | H |  | A |  | L |  | I |  | A |
|------|------|------|------|------|------|------|------|------|
|    0  |   | 1  |   |  2 |   | 3  |   |  4 |   | 5 | | 6 | | 7| | 8|

In [32]:
first_name[0:8]

'Nathalia'

In [39]:
nickname=first_name[0:3]+'y'
print(nickname)

Naty

**Break?**

## Lists

A list is a variable... but a list stores many values in a single variable.  

Create a list by writing values separated by `,` within `[]`

In [128]:
fruits=['banana','orange','lime','mango']

In [129]:
print(fruits)

['banana', 'orange', 'lime', 'mango']

In [130]:
type(fruits)

list

In [131]:
ages=[34,40,65]

In [132]:
print(ages)

[34, 40, 65]

In [133]:
type(ages)

list

In [134]:
len(fruits)

4

##### Index and slicing a list

In [135]:
fruits[2]

'lime'

In [136]:
fruits[0:3]

['banana', 'orange', 'lime']

In [137]:
fruit_basket=fruits[0:3]
print(fruit_basket)

['banana', 'orange', 'lime']

In [138]:
fruits

['banana', 'orange', 'lime', 'mango']

In [139]:
fruit_basket

['banana', 'orange', 'lime']

##### What can you do with lists?

In [140]:
dir(fruits)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

##### Appending items to a list - list methods

In [141]:
fruits.append('tomato')

In [142]:
fruits

['banana', 'orange', 'lime', 'mango', 'tomato']

In [143]:
berries=['raspberry','strawberry']

In [144]:
fruit_basket

['banana', 'orange', 'lime']

In [145]:
fruit_basket.extend(berries)
print(fruit_basket)

['banana', 'orange', 'lime', 'raspberry', 'strawberry']

In [146]:
veggies=['onion','garlic']

In [147]:
fruit_basket.append(veggies)
print(fruit_basket)

['banana', 'orange', 'lime', 'raspberry', 'strawberry', ['onion', 'garlic']]

In [148]:
fruit_basket[-1]

['onion', 'garlic']

In [149]:
fruit_basket[3]

'raspberry'

##### Lists are mutable

In [150]:
fruit_basket[1]='nothing'
print(fruit_basket)

['banana', 'nothing', 'lime', 'raspberry', 'strawberry', ['onion', 'garlic']]

##### Delete items from a list

In [151]:
del fruit_basket[-1]

In [152]:
print(fruit_basket)

['banana', 'nothing', 'lime', 'raspberry', 'strawberry']

In [153]:
fruit_basket.pop(1)

'nothing'

In [154]:
fruit_basket

['banana', 'lime', 'raspberry', 'strawberry']

In [155]:
fruit_basket.remove('lime')

In [156]:
fruit_basket

['banana', 'raspberry', 'strawberry']

##### Sorting - list function

In [157]:
ages

[34, 40, 65]

In [158]:
ages.append(15)
print(ages)

[34, 40, 65, 15]

In [159]:
ages.append(40)
print(ages)

[34, 40, 65, 15, 40]

In [160]:
ages.append(a)
print(ages)

[34, 40, 65, 15, 40, 1.5]

In [161]:
print(sorted(ages))

[1.5, 15, 34, 40, 40, 65]

In [162]:
ages

[34, 40, 65, 15, 40, 1.5]

In [163]:
sorted_ages=sorted(ages) # creates a copy of the original list

In [164]:
print(sorted_ages)

[1.5, 15, 34, 40, 40, 65]

In [165]:
ages

[34, 40, 65, 15, 40, 1.5]

In [166]:
ages.sort() # sorts in place, changes the original

In [167]:
ages

[1.5, 15, 34, 40, 40, 65]

##### Other list functions

In [168]:
#len(list)
#max(list)
#min(list)

## FOR LOOPS

A for loop executes the same command through each value in a collection.

Building blocks of a for loop:

`for` `each-item-in-this` `in` `variable` `:`  
`(tab)` `do-something`

 
Start the for loop with `for`  
use `in` to indicate the variable  
end the first line with `:`  
indent the second line with `tab` (Jupyter does the indent automatically!)
 
`each-item-in-this` is an arbitrary name for each item in the variable/list.  
`do-something` is a command.

In [169]:
fruit_basket

['banana', 'raspberry', 'strawberry']

In [170]:
for fruit in fruit_basket:
    print(fruit)

banana
raspberry
strawberry

In [171]:
for item in fruit_basket:
    print(item)

banana
raspberry
strawberry

In [172]:
for number in range(15):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [173]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [174]:
total=0
for i in range(10):
    total=total+i
    print(total) # does not include 10!

0
1
3
6
10
15
21
28
36
45

In [175]:
total=0
for i in range(10):
    total=total+i
print(total)

45

In [176]:
data=[35,45,60,1.5,40,50]

In [177]:
for i in data:
    print(i*2)

70
90
120
3.0
80
100

In [1]:
for i in data:
    print(i**2)

NameError: name 'data' is not defined

## data

##### `if/else` statements 

conditional statement

serve to control the data inside the loop, control execution of the code

`if` `some-condition` `:`    
`(tab)` `do-something`  
`else` `:`  
`(tab)` `do-the-other-thing`

Start with `if`  
`some-condition` is a test that you want to run with your data  
end the line with `:`  
indent the line after if with `tab` (Jupyter does the indent automatically!)  
End the statement with `else` and `:` (notice that if and else are in the same indent)  
indent the line after the else with `tab`  
`do-the-other-thing` is the opposite test from the if statement.

In [180]:
weight=3.56
if weight > 2:
    print(weight,'is greater than 2')
else:
    print(weight,'is less than 2')

3.56 is greater than 2

In [181]:
weight=1.5
if weight > 2:
    print(weight,'is less than 2')
else:
    print(weight,'is greater than 2')

1.5 is greater than 2

##### use conditionals inside a loop

In [182]:
for i in range(15):
    if i > 5:
        print(i)
    else:
        continue # do nothing, test the next i

6
7
8
9
10
11
12
13
14

In [183]:
for i in range(15):
    if i <= 5:
        print(i)
    else:
        print(i,'is greater than 5')

0
1
2
3
4
5
6 is greater than 5
7 is greater than 5
8 is greater than 5
9 is greater than 5
10 is greater than 5
11 is greater than 5
12 is greater than 5
13 is greater than 5
14 is greater than 5

In [184]:
for i in range(15):
    if i >= 5:
        print(i)
    else:
        print(i,'is less than 5')

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5
6
7
8
9
10
11
12
13
14

In [185]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [186]:
for i in range(10,20):
    if i >= 15:
        print(i)

15
16
17
18
19

### challenge: print all values between 20,100 that are even

Talk about stack overflow

In [25]:
for i in range(20,100+1):
    if i %2==0:
        print(i)

20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

What about odd?!

In [28]:
for i in range(20,100+1):
    if i %2 == 1: # or i % 2 != 0
        print(i)

21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### challenge: reverse the string using a for loop

In [8]:
original = "tin"
result = ""
for char in original:
    result = char + result
#     print(char)
#     print(result)

print(result)

nit

## Errors

##### Variable errors

In [187]:
# need to create/define a variable before using it
chocolate_cake

NameError: name 'chocolate_cake' is not defined

In [188]:
# this also includes mispellings...
firt_name

NameError: name 'firt_name' is not defined

In [189]:
first_name

'Nathalia'

##### Syntax errors

In [190]:
# Syntax errors: when you forget to close a ) 
## EOF - end of file
## means that the end of your source code was reached before all code blocks were completed
print(len(crazy)

SyntaxError: unexpected EOF while parsing (<ipython-input-190-a5003129ec52>, line 4)

In [191]:
print(len(crazy))

12

In [192]:
# Syntax errors: when you forgot a , 
print(first_name,'age is:'age)

SyntaxError: invalid syntax (<ipython-input-192-91603502cda3>, line 2)

In [193]:
print(first_name,'age is:',age)

Nathalia age is: 35

In [194]:
# Syntax errors: forgot to close a quote ' in a string
## EOL = end of line
print(first_name,'age is:,age)

SyntaxError: EOL while scanning string literal (<ipython-input-194-4fcc5cd9871d>, line 3)

In [195]:
print(first_name,'age is:',age)

Nathalia age is: 35

In [196]:
# Syntax errors: when you forget the colon at the end of a line
for i in data
    print(i**2)

SyntaxError: invalid syntax (<ipython-input-196-ec20c8c9a5f0>, line 2)

In [197]:
for i in data:
    print(i**2)

1225
2025
3600
2.25
1600
2500

In [198]:
# Indentation errors: forgot to indent
for i in data:
print(i**2)

IndentationError: expected an indented block (<ipython-input-198-9354b20bbb57>, line 3)

In [199]:
for i in data:
    print(i**2)

1225
2025
3600
2.25
1600
2500

##### BUT character strings are IMMUTABLE

In [24]:
fruit

NameError: name 'fruit' is not defined

In [201]:
fruit[3]

'a'

In [202]:
fruit[3]='K'

TypeError: 'str' object does not support item assignment

In [ ]:
fruit

In [203]:
fruit_basket

['banana', 'raspberry', 'strawberry']

In [204]:
fruit_basket[2]

'strawberry'

In [205]:
fruit_basket[2][2]

'r'

In [206]:
fruit_basket[2][2]='K'

TypeError: 'str' object does not support item assignment

In [207]:
fruit_basket[2]='lime'

In [208]:
fruit_basket

['banana', 'raspberry', 'lime']

##### Index errors

In [209]:
# Index error: when caling an index that does not exist
fruit_basket[0:4]

['banana', 'raspberry', 'lime']

In [210]:
fruit_basket[:]

['banana', 'raspberry', 'lime']

In [211]:
print(fruit_basket[5])

IndexError: list index out of range

### Help yo'self (:

In [212]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [213]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [214]:
help(fruit_basket)

Help on list object:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None