## Reading data from a file using `pandas`

**Use `pandas` for tabular data!**
1. Import `pandas` module
1. Read a `.csv` file
2. Read a `.tsv` file
4. Get df dimensions
5. Get column names

In [1]:
# 1 - import package
import pandas as pd

In [2]:
# 2 - Read .csv
df = pd.read_csv('SAFI_results.csv')
df.head()

,Column1,A01_interview_date,A03_quest_no,A04_start,A05_end,A06_province,A07_district,A08_ward,A09_village,A11_years_farm,...,F13_du_look_aftr_cows,F_liv_count,G01_no_meals,_members_count,_note,gps:Accuracy,gps:Altitude,gps:Latitude,gps:Longitude,instanceID
0,0,17/11/2016,1,2017-03-23T09:49:57.000Z,2017-04-02T17:29:08.000Z,Province1,District1,Ward2,Village2,11,...,no,1,2,3,NaN,14.0,698,-19.112259,33.483456,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
1,1,17/11/2016,1,2017-04-02T09:48:16.000Z,2017-04-02T17:26:19.000Z,Province1,District1,Ward2,Village2,2,...,no,3,2,7,NaN,19.0,690,-19.112477,33.483416,uuid:099de9c9-3e5e-427b-8452-26250e840d6e
2,2,17/11/2016,3,2017-04-02T14:35:26.000Z,2017-04-02T17:26:53.000Z,Province1,District1,Ward2,Village2,40,...,no,1,2,10,NaN,13.0,674,-19.112108,33.483450,uuid:193d7daf-9582-409b-bf09-027dd36f9007
3,3,17/11/2016,4,2017-04-02T14:55:18.000Z,2017-04-02T17:27:16.000Z,Province1,District1,Ward2,Village2,6,...,no,2,2,7,NaN,5.0,679,-19.112229,33.483424,uuid:148d1105-778a-4755-aa71-281eadd4a973
4,4,17/11/2016,5,2017-04-02T15:10:35.000Z,2017-04-02T17:27:35.000Z,Province1,District1,Ward2,Village2,18,...,no,4,2,7,NaN,10.0,689,-19.112217,33.483425,uuid:2c867811-9696-4966-9866-f35c3e97d02d

In [4]:
# 3 - Read .tsv, .tab
df = pd.read_csv('SN7577.tab', sep = '\t')
df.head()

,Q1,Q2,Q3,Q4,Q5ai,Q5aii,Q5aiii,Q5aiv,Q5av,Q5avi,...,numhhd,numkid,numkid2,numkid31,numkid32,numkid33,numkid34,numkid35,numkid36,wts
0,1,-1,1,8,0,0,0,1,0,0,...,3,11,2,0,0,0,0,1,0,1.11439
1,3,-1,1,4,0,0,0,0,0,0,...,3,11,2,0,0,0,0,1,0,2.56604
2,10,3,2,6,0,0,0,0,0,0,...,2,11,2,0,0,0,0,1,0,2.04468
3,9,-1,10,10,0,0,0,0,0,0,...,1,-1,2,0,0,0,0,1,0,1.07592
4,10,2,6,1,0,0,0,1,0,0,...,1,-1,2,0,0,0,0,1,0,1.25068

In [5]:
df = pd.read_csv('SAFI_results.csv')

In [6]:
# 4 - Get dimensions
df.shape # n rows, n columns

(131, 55)

In [7]:
# 5 - Get column names
df.columns

Index(['Column1', 'A01_interview_date', 'A03_quest_no', 'A04_start', 'A05_end',
       'A06_province', 'A07_district', 'A08_ward', 'A09_village',
       'A11_years_farm', 'A12_agr_assoc', 'B11_remittance_money',
       'B16_years_liv', 'B17_parents_liv', 'B18_sp_parents_liv',
       'B19_grand_liv', 'B20_sp_grand_liv', 'B_no_membrs',
       'C01_respondent_roof_type', 'C02_respondent_wall_type',
       'C02_respondent_wall_type_other', 'C03_respondent_floor_type',
       'C04_window_type', 'C05_buildings_in_compound', 'C06_rooms',
       'C07_other_buildings', 'D_plots_count', 'E01_water_use',
       'E17_no_enough_water', 'E19_period_use', 'E20_exper_other',
       'E21_other_meth', 'E23_memb_assoc', 'E24_resp_assoc', 'E25_fees_water',
       'E26_affect_conflicts', 'E_no_group_count', 'E_yes_group_count',
       'F04_need_money', 'F05_money_source_other', 'F06_crops_contr',
       'F08_emply_lab', 'F09_du_labour', 'F10_liv_owned_other', 'F12_poultry',
       'F13_du_look_aftr_cows', 'F_liv_count', 'G01_no_meals',
       '_members_count', '_note', 'gps:Accuracy', 'gps:Altitude',
       'gps:Latitude', 'gps:Longitude', 'instanceID'],
      dtype='object')

In [8]:
# EXTRA get index, column name
for index,name in enumerate(list(df.columns)):
    print(index, name)

0 Column1
1 A01_interview_date
2 A03_quest_no
3 A04_start
4 A05_end
5 A06_province
6 A07_district
7 A08_ward
8 A09_village
9 A11_years_farm
10 A12_agr_assoc
11 B11_remittance_money
12 B16_years_liv
13 B17_parents_liv
14 B18_sp_parents_liv
15 B19_grand_liv
16 B20_sp_grand_liv
17 B_no_membrs
18 C01_respondent_roof_type
19 C02_respondent_wall_type
20 C02_respondent_wall_type_other
21 C03_respondent_floor_type
22 C04_window_type
23 C05_buildings_in_compound
24 C06_rooms
25 C07_other_buildings
26 D_plots_count
27 E01_water_use
28 E17_no_enough_water
29 E19_period_use
30 E20_exper_other
31 E21_other_meth
32 E23_memb_assoc
33 E24_resp_assoc
34 E25_fees_water
35 E26_affect_conflicts
36 E_no_group_count
37 E_yes_group_count
38 F04_need_money
39 F05_money_source_other
40 F06_crops_contr
41 F08_emply_lab
42 F09_du_labour
43 F10_liv_owned_other
44 F12_poultry
45 F13_du_look_aftr_cows
46 F_liv_count
47 G01_no_meals
48 _members_count
49 _note
50 gps:Accuracy
51 gps:Altitude
52 gps:Latitude
53 gps:Longitude
54 instanceID

## Extracting row and columns

1. Extract columns of interest using index position, or names
2. Extract rows using index position, or index names
3. Filter rows using criteria
4. Use `df.sample()` to extract a few random records from the data

In [9]:
# 1 - Extract columns .loc
df.loc[:,['A01_interview_date', 'A06_province']]

    A01_interview_date A06_province
0           17/11/2016    Province1
1           17/11/2016    Province1
2           17/11/2016    Province1
3           17/11/2016    Province1
4           17/11/2016    Province1
..                 ...          ...
126         18/05/2017    Province1
127         04/06/2017    Province1
128         04/06/2017    Province1
129         04/06/2017    Province1
130         04/06/2017    Province1

[131 rows x 2 columns]

In [11]:
# 1 - Extract columns .iloc
column_indices = [1,5]
df.iloc[:,column_indices]

    A01_interview_date A06_province
0           17/11/2016    Province1
1           17/11/2016    Province1
2           17/11/2016    Province1
3           17/11/2016    Province1
4           17/11/2016    Province1
..                 ...          ...
126         18/05/2017    Province1
127         04/06/2017    Province1
128         04/06/2017    Province1
129         04/06/2017    Province1
130         04/06/2017    Province1

[131 rows x 2 columns]

In [12]:
# 2 - Extract rows .loc
# df.loc[list_rows_names,:]
# df.iloc[list_row_indices,:]

In [14]:
# 3 - Filter using criteria
# df[df['A11_years_farm']>3]
df[(df['A11_years_farm']>3) & 
  (df['C01_respondent_roof_type'] == 'grass' )]

,Column1,A01_interview_date,A03_quest_no,A04_start,A05_end,A06_province,A07_district,A08_ward,A09_village,A11_years_farm,...,F13_du_look_aftr_cows,F_liv_count,G01_no_meals,_members_count,_note,gps:Accuracy,gps:Altitude,gps:Latitude,gps:Longitude,instanceID
0,0,17/11/2016,1,2017-03-23T09:49:57.000Z,2017-04-02T17:29:08.000Z,Province1,District1,Ward2,Village2,11,...,no,1,2,3,NaN,14.0,698,-19.112259,33.483456,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
4,4,17/11/2016,5,2017-04-02T15:10:35.000Z,2017-04-02T17:27:35.000Z,Province1,District1,Ward2,Village2,18,...,no,4,2,7,NaN,10.0,689,-19.112217,33.483425,uuid:2c867811-9696-4966-9866-f35c3e97d02d
6,6,17/11/2016,7,2017-04-02T15:38:01.000Z,2017-04-02T17:28:19.000Z,Province1,District1,Ward2,Village2,20,...,no,1,3,6,NaN,11.0,709,-19.112219,33.483365,uuid:ae20a58d-56f4-43d7-bafa-e7963d850844
8,8,16/11/2016,9,2017-04-02T16:23:36.000Z,2017-04-02T16:42:08.000Z,Province1,District1,Ward2,Village3,16,...,no,3,3,8,NaN,11.0,701,-19.112215,33.483437,uuid:846103d2-b1db-4055-b502-9cd510bb7b37
10,10,21/11/2016,11,2017-04-03T03:16:15.000Z,2017-04-03T03:31:10.000Z,Province1,District1,Ward2,Village2,6,...,no,2,2,6,NaN,10.0,707,-19.112191,33.483459,uuid:d29b44e3-3348-4afc-aa4d-9eb34c89d483
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,120,03/06/2017,167,2017-06-03T06:25:09.000Z,2017-06-03T06:45:06.000Z,Province1,District1,Ward2,Village1,16,...,yes,3,2,8,NaN,2000.0,0,-19.114989,33.488268,uuid:a9d1a013-043b-475d-a71b-77ed80abe970
121,121,03/06/2017,174,2017-06-03T06:50:47.000Z,2017-06-03T07:20:21.000Z,Province1,District1,Ward2,Village1,13,...,no,3,3,12,NaN,3.0,703,-19.112168,33.483405,uuid:43ec6132-478c-4f87-878d-fb3c0c4d0c74
125,125,03/06/2017,192,2017-06-03T16:17:55.000Z,2017-06-03T17:16:39.000Z,Province1,District1,Ward2,Village3,15,...,no,1,3,9,NaN,4.0,705,-19.112154,33.483359,uuid:f94409a6-e461-4e4c-a6fb-0072d3d58b00
126,126,18/05/2017,126,2017-05-18T04:13:37.000Z,2017-05-18T04:35:47.000Z,Province1,District1,Ward2,Village1,5,...,no,3,3,3,NaN,7.0,700,-19.112194,33.483379,uuid:69caea81-a4e5-4e8d-83cd-9c18d8e8d965
128,128,04/06/2017,194,2017-06-04T10:13:36.000Z,2017-06-04T10:32:06.000Z,Province1,District1,Ward2,Village1,5,...,no,1,3,4,NaN,10.0,719,-19.112271,33.483471,uuid:95c11a30-d44f-40c4-8ea8-ec34fca6bbbf

In [18]:
# 4 - df.sample()
# df.sample(10)
df.sample(frac = 0.1, random_state=1)

,Column1,A01_interview_date,A03_quest_no,A04_start,A05_end,A06_province,A07_district,A08_ward,A09_village,A11_years_farm,...,F13_du_look_aftr_cows,F_liv_count,G01_no_meals,_members_count,_note,gps:Accuracy,gps:Altitude,gps:Latitude,gps:Longitude,instanceID
42,42,17/11/2016,43,2017-04-06T09:31:56.000Z,2017-04-06T09:53:53.000Z,Province1,District1,Ward2,Village3,3,...,no,2,2,7,NaN,30.0,605,-19.043031,33.404727,uuid:b4dff49f-ef27-40e5-a9d1-acf287b47358
80,80,25/11/2016,182,2017-04-09T09:08:04.000Z,2017-04-09T09:34:12.000Z,Province1,District1,Ward2,Village2,20,...,no,2,3,7,NaN,4.0,694,-19.112042,33.483454,uuid:394033e8-a6e2-4e39-bfac-458753a1ed78
128,128,04/06/2017,194,2017-06-04T10:13:36.000Z,2017-06-04T10:32:06.000Z,Province1,District1,Ward2,Village1,5,...,no,1,3,4,NaN,10.0,719,-19.112271,33.483471,uuid:95c11a30-d44f-40c4-8ea8-ec34fca6bbbf
5,5,17/11/2016,6,2017-04-02T15:27:25.000Z,2017-04-02T17:28:02.000Z,Province1,District1,Ward2,Village2,3,...,no,1,2,3,NaN,12.0,692,-19.112196,33.483392,uuid:daa56c91-c8e3-44c3-a663-af6a49a2ca70
44,44,17/11/2016,45,2017-04-06T14:53:04.000Z,2017-04-06T15:11:57.000Z,Province1,District1,Ward2,Village3,25,...,no,4,3,9,NaN,28.0,703,-19.043124,33.404665,uuid:e3554d22-35b1-4fb9-b386-dd5866ad5792
75,75,24/11/2016,155,2017-04-09T06:35:16.000Z,2017-04-09T06:48:01.000Z,Province1,District1,Ward2,Village2,5,...,no,1,2,4,NaN,13.0,713,-19.112207,33.483424,uuid:77b3021b-a9d6-4276-aaeb-5bfcfd413852
102,102,30/04/2017,106,2017-04-30T05:51:18.000Z,2017-04-30T06:47:01.000Z,Province1,District1,Ward2,Village2,22,...,no,2,3,15,NaN,5.0,709,-19.112210,33.483409,uuid:468797c1-4a65-4f35-9c83-e28ce46972a2
110,110,11/05/2017,108,2017-05-11T05:42:08.000Z,2017-05-11T06:08:58.000Z,Province1,District1,Ward2,Village2,22,...,no,4,3,15,NaN,20.0,0,-19.111469,33.476105,uuid:e4f4d6ba-e698-45a5-947f-ba6da88cc22b
97,97,28/04/2017,102,2017-04-28T06:27:07.000Z,2017-04-28T06:52:04.000Z,Province1,District1,Ward2,Village1,15,...,no,2,3,12,NaN,11.0,691,-19.044133,33.403890,uuid:76206b0b-af74-4344-b24f-81e839f0d7b0
17,17,21/11/2016,18,2017-04-03T12:27:04.000Z,2017-04-03T12:39:48.000Z,Province1,District1,Ward2,Village2,6,...,no,3,2,4,NaN,17.0,685,-19.111335,33.476308,uuid:7ffe7bd1-a15c-420c-a137-e1f006c317a3
126,126,18/05/2017,126,2017-05-18T04:13:37.000Z,2017-05-18T04:35:47.000Z,Province1,District1,Ward2,Village1,5,...,no,3,3,3,NaN,7.0,700,-19.112194,33.483379,uuid:69caea81-a4e5-4e8d-83cd-9c18d8e8d965
31,31,21/11/2016,32,2017-04-05T06:38:55.000Z,2017-04-05T08:05:32.000Z,Province1,District1,Ward2,Village1,53,...,no,5,2,19,NaN,8.0,703,-19.044114,33.403906,uuid:25597af3-cd79-449c-a48a-fb9aea6c48bf
82,82,28/11/2016,187,2017-04-09T15:48:14.000Z,2017-04-09T16:12:46.000Z,Province1,District1,Ward2,Village2,1,...,no,4,3,5,NaN,13.0,691,-19.112234,33.483492,uuid:0a42c9ee-a840-4dda-8123-15c1bede5dfc

## Data Aggregation using `pandas`

1. Use `describe()` for summary statistics
2. Dealing with missing values
3. Use `groupby()` to explore data further

In [19]:
# 1 - summary stats
df.describe()

,Column1,A03_quest_no,A11_years_farm,B16_years_liv,B_no_membrs,C02_respondent_wall_type_other,C05_buildings_in_compound,C06_rooms,D_plots_count,E19_period_use,...,F05_money_source_other,F10_liv_owned_other,F_liv_count,G01_no_meals,_members_count,_note,gps:Accuracy,gps:Altitude,gps:Latitude,gps:Longitude
count,131.000000,131.000000,131.000000,131.000000,131.00000,0.0,131.000000,131.000000,131.000000,92.000000,...,0.0,0.0,131.000000,131.000000,131.00000,0.0,131.000000,131.000000,131.000000,131.000000
mean,65.000000,85.473282,15.832061,23.053435,7.19084,NaN,2.068702,1.740458,2.229008,12.043478,...,NaN,NaN,2.366412,2.603053,7.19084,NaN,71.115344,648.221374,-19.102671,33.471971
std,37.960506,63.151628,10.903883,16.913041,3.17227,NaN,1.241530,1.092547,1.078210,8.583031,...,NaN,NaN,1.082775,0.491143,3.17227,NaN,335.854190,187.697067,0.023754,0.027081
min,0.000000,1.000000,1.000000,1.000000,2.00000,NaN,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,1.000000,2.000000,2.00000,NaN,3.000000,0.000000,-19.114989,33.403836
25%,32.500000,32.500000,8.000000,12.000000,5.00000,NaN,1.000000,1.000000,2.000000,4.000000,...,NaN,NaN,1.000000,2.000000,5.00000,NaN,9.000000,691.000000,-19.112222,33.483329
50%,65.000000,66.000000,15.000000,20.000000,7.00000,NaN,2.000000,1.000000,2.000000,10.000000,...,NaN,NaN,2.000000,3.000000,7.00000,NaN,11.000000,702.000000,-19.112188,33.483397
75%,97.500000,138.000000,20.500000,27.500000,9.00000,NaN,3.000000,2.000000,3.000000,20.000000,...,NaN,NaN,3.000000,3.000000,9.00000,NaN,13.000000,710.000000,-19.112077,33.483438
max,130.000000,202.000000,60.000000,96.000000,19.00000,NaN,8.000000,8.000000,8.000000,45.000000,...,NaN,NaN,5.000000,3.000000,19.00000,NaN,2099.999000,745.000000,-19.042909,33.488268

In [21]:
# 2 - finding missing values
df.isnull().sum()

Column1                             0
A01_interview_date                  0
A03_quest_no                        0
A04_start                           0
A05_end                             0
A06_province                        0
A07_district                        0
A08_ward                            0
A09_village                         0
A11_years_farm                      0
A12_agr_assoc                       0
B11_remittance_money                0
B16_years_liv                       0
B17_parents_liv                     0
B18_sp_parents_liv                  0
B19_grand_liv                       0
B20_sp_grand_liv                    0
B_no_membrs                         0
C01_respondent_roof_type            0
C02_respondent_wall_type            0
C02_respondent_wall_type_other    131
C03_respondent_floor_type           0
C04_window_type                     0
C05_buildings_in_compound           0
C06_rooms                           0
C07_other_buildings                 0
D_plots_count                       0
E01_water_use                       0
E17_no_enough_water                39
E19_period_use                     39
E20_exper_other                    39
E21_other_meth                     39
E23_memb_assoc                     39
E24_resp_assoc                     98
E25_fees_water                     39
E26_affect_conflicts               39
E_no_group_count                   92
E_yes_group_count                  39
F04_need_money                     39
F05_money_source_other            131
F06_crops_contr                    39
F08_emply_lab                       0
F09_du_labour                       0
F10_liv_owned_other               131
F12_poultry                         0
F13_du_look_aftr_cows               0
F_liv_count                         0
G01_no_meals                        0
_members_count                      0
_note                             131
gps:Accuracy                        0
gps:Altitude                        0
gps:Latitude                        0
gps:Longitude                       0
instanceID                          0
dtype: int64

In [25]:
df.fillna(0).isnull().sum()

Column1                           0
A01_interview_date                0
A03_quest_no                      0
A04_start                         0
A05_end                           0
A06_province                      0
A07_district                      0
A08_ward                          0
A09_village                       0
A11_years_farm                    0
A12_agr_assoc                     0
B11_remittance_money              0
B16_years_liv                     0
B17_parents_liv                   0
B18_sp_parents_liv                0
B19_grand_liv                     0
B20_sp_grand_liv                  0
B_no_membrs                       0
C01_respondent_roof_type          0
C02_respondent_wall_type          0
C02_respondent_wall_type_other    0
C03_respondent_floor_type         0
C04_window_type                   0
C05_buildings_in_compound         0
C06_rooms                         0
C07_other_buildings               0
D_plots_count                     0
E01_water_use                     0
E17_no_enough_water               0
E19_period_use                    0
E20_exper_other                   0
E21_other_meth                    0
E23_memb_assoc                    0
E24_resp_assoc                    0
E25_fees_water                    0
E26_affect_conflicts              0
E_no_group_count                  0
E_yes_group_count                 0
F04_need_money                    0
F05_money_source_other            0
F06_crops_contr                   0
F08_emply_lab                     0
F09_du_labour                     0
F10_liv_owned_other               0
F12_poultry                       0
F13_du_look_aftr_cows             0
F_liv_count                       0
G01_no_meals                      0
_members_count                    0
_note                             0
gps:Accuracy                      0
gps:Altitude                      0
gps:Latitude                      0
gps:Longitude                     0
instanceID                        0
dtype: int64

In [29]:
df['E19_period_use'].fillna(0).describe()

count    131.000000
mean       8.458015
std        9.062399
min        0.000000
25%        0.000000
50%        5.000000
75%       15.500000
max       45.000000
Name: E19_period_use, dtype: float64

In [32]:
# df = df['E19_period_use'].fillna(0)
df['E19_period_use'].fillna(0, inplace = True)

In [33]:
df.isnull().sum()

Column1                             0
A01_interview_date                  0
A03_quest_no                        0
A04_start                           0
A05_end                             0
A06_province                        0
A07_district                        0
A08_ward                            0
A09_village                         0
A11_years_farm                      0
A12_agr_assoc                       0
B11_remittance_money                0
B16_years_liv                       0
B17_parents_liv                     0
B18_sp_parents_liv                  0
B19_grand_liv                       0
B20_sp_grand_liv                    0
B_no_membrs                         0
C01_respondent_roof_type            0
C02_respondent_wall_type            0
C02_respondent_wall_type_other    131
C03_respondent_floor_type           0
C04_window_type                     0
C05_buildings_in_compound           0
C06_rooms                           0
C07_other_buildings                 0
D_plots_count                       0
E01_water_use                       0
E17_no_enough_water                39
E19_period_use                      0
E20_exper_other                    39
E21_other_meth                     39
E23_memb_assoc                     39
E24_resp_assoc                     98
E25_fees_water                     39
E26_affect_conflicts               39
E_no_group_count                   92
E_yes_group_count                  39
F04_need_money                     39
F05_money_source_other            131
F06_crops_contr                    39
F08_emply_lab                       0
F09_du_labour                       0
F10_liv_owned_other               131
F12_poultry                         0
F13_du_look_aftr_cows               0
F_liv_count                         0
G01_no_meals                        0
_members_count                      0
_note                             131
gps:Accuracy                        0
gps:Altitude                        0
gps:Latitude                        0
gps:Longitude                       0
instanceID                          0
dtype: int64

In [38]:
# 3 - groupby()
pd.DataFrame(df.groupby(['C01_respondent_roof_type', 
            'C02_respondent_wall_type']).describe()['A11_years_farm']['count'])

                                                   count
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                22.0
                         muddaub                    42.0
                         sunbricks                   9.0
mabatipitched            burntbricks                 6.0
                         muddaub                     3.0
                         sunbricks                   1.0
mabatisloping            burntbricks                39.0
                         cement                      1.0
                         muddaub                     1.0
                         sunbricks                   7.0

In [40]:
for col in list(df.columns):
    print(col, df[col].unique())
    print()

Column1 [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130]

A01_interview_date ['17/11/2016' '16/11/2016' '16/12/2016' '21/11/2016' '24/11/2016'
 '18/11/2016' '23/11/2016' '25/11/2016' '28/11/2016' '26/04/2017'
 '27/04/2017' '28/04/2017' '30/04/2017' '03/05/2017' '04/05/2017'
 '11/05/2017' '18/05/2017' '03/06/2017' '04/06/2017']

A03_quest_no [  1   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19
  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37
  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  54  55  56
  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71 127 133 152
 153 155 178 177 180 181 182 186 187 195 196 197 198 201 202  72  73  76
  83  85  89 101 103 102  78  80 104 105 106 109 110 113 118 125 119 115
 108 116 117 144 143 150 159 160 165 166 167 174 175 189 191 192 126 193
 194 199 200]

A04_start ['2017-03-23T09:49:57.000Z' '2017-04-02T09:48:16.000Z'
 '2017-04-02T14:35:26.000Z' '2017-04-02T14:55:18.000Z'
 '2017-04-02T15:10:35.000Z' '2017-04-02T15:27:25.000Z'
 '2017-04-02T15:38:01.000Z' '2017-04-02T15:59:52.000Z'
 '2017-04-02T16:23:36.000Z' '2017-04-02T17:03:28.000Z'
 '2017-04-03T03:16:15.000Z' '2017-04-03T03:31:13.000Z'
 '2017-04-03T03:58:43.000Z' '2017-04-03T04:19:57.000Z'
 '2017-04-03T05:12:17.000Z' '2017-04-03T05:29:24.000Z'
 '2017-04-03T05:41:42.000Z' '2017-04-03T12:27:04.000Z'
 '2017-04-03T12:40:14.000Z' '2017-04-03T14:04:50.000Z'
 '2017-04-03T14:24:58.000Z' '2017-04-03T16:28:52.000Z'
 '2017-04-03T16:41:04.000Z' '2017-04-03T17:19:49.000Z'
 '2017-04-04T04:01:58.000Z' '2017-04-04T04:30:19.000Z'
 '2017-04-05T04:59:42.000Z' '2017-04-05T05:14:49.000Z'
 '2017-04-05T05:37:30.000Z' '2017-04-05T06:05:58.000Z'
 '2017-04-05T06:21:20.000Z' '2017-04-05T06:38:55.000Z'
 '2017-04-05T08:08:19.000Z' '2017-04-05T16:00:47.000Z'
 '2017-04-05T16:22:13.000Z' '2017-04-05T16:50:48.000Z'
 '2017-04-05T17:17:48.000Z' '2017-04-05T17:28:12.000Z'
 '2017-04-06T08:31:17.000Z' '2017-04-06T08:44:51.000Z'
 '2017-04-06T09:03:50.000Z' '2017-04-06T09:14:22.000Z'
 '2017-04-06T09:31:56.000Z' '2017-04-06T14:44:32.000Z'
 '2017-04-06T14:53:04.000Z' '2017-04-06T15:19:41.000Z'
 '2017-04-07T14:05:25.000Z' '2017-04-07T14:19:49.000Z'
 '2017-04-07T14:43:09.000Z' '2017-04-07T14:56:01.000Z'
 '2017-04-07T15:27:45.000Z' '2017-04-08T04:44:09.000Z'
 '2017-04-08T05:03:08.000Z' '2017-04-08T05:36:55.000Z'
 '2017-04-08T05:52:32.000Z' '2017-04-08T06:05:59.000Z'
 '2017-04-08T06:26:22.000Z' '2017-04-08T08:25:49.000Z'
 '2017-04-08T08:52:05.000Z' '2017-04-08T09:03:01.000Z'
 '2017-04-08T10:47:11.000Z' '2017-04-08T13:27:58.000Z'
 '2017-04-08T13:41:39.000Z' '2017-04-08T13:52:30.000Z'
 '2017-04-08T14:02:49.000Z' '2017-04-08T21:09:38.000Z'
 '2017-04-08T21:34:23.000Z' '2017-04-08T21:49:40.000Z'
 '2017-04-09T22:08:07.000Z' '2017-04-09T22:21:23.000Z'
 '2017-04-09T15:00:19.000Z' '2017-04-09T05:16:06.000Z'
 '2017-04-09T05:27:46.000Z' '2017-04-09T05:47:31.000Z'
 '2017-04-09T06:16:49.000Z' '2017-04-09T06:35:16.000Z'
 '2017-04-09T06:54:49.000Z' '2017-04-09T07:59:49.000Z'
 '2017-04-09T08:23:05.000Z' '2017-04-09T08:43:08.000Z'
 '2017-04-09T09:08:04.000Z' '2017-04-09T15:20:26.000Z'
 '2017-04-09T15:48:14.000Z' '2017-04-09T16:13:19.000Z'
 '2017-04-09T18:00:41.000Z' '2017-04-09T18:32:09.000Z'
 '2017-04-09T19:15:21.000Z' '2017-04-09T19:31:47.000Z'
 '2017-04-09T19:48:09.000Z' '2017-04-26T15:46:24.000Z'
 '2017-04-26T16:13:50.000Z' '2017-04-26T16:45:28.000Z'
 '2017-04-27T12:27:31.000Z' '2017-04-27T12:58:02.000Z'
 '2017-04-27T16:11:23.000Z' '2017-04-27T16:42:02.000Z'
 '2017-04-27T17:38:53.000Z' '2017-04-28T06:27:07.000Z'
 '2017-04-28T07:09:39.000Z' '2017-04-28T09:01:47.000Z'
 '2017-04-28T14:25:13.000Z' '2017-04-28T15:32:38.000Z'
 '2017-04-30T05:51:18.000Z' '2017-05-03T13:14:43.000Z'
 '2017-05-03T13:37:57.000Z' '2017-05-03T14:00:13.000Z'
 '2017-05-04T10:26:35.000Z' '2017-05-04T10:47:05.000Z'
 '2017-05-04T11:16:57.000Z' '2017-05-11T05:24:25.000Z'
 '2017-05-11T05:42:08.000Z' '2017-05-11T06:09:56.000Z'
 '2017-05-11T06:28:02.000Z' '2017-05-18T04:36:23.000Z'
 '2017-05-18T05:55:04.000Z' '2017-05-18T10:37:37.000Z'
 '2017-05-18T10:56:16.000Z' '2017-06-03T05:08:49.000Z'
 '2017-06-03T05:32:33.000Z' '2017-06-03T05:53:28.000Z'
 '2017-06-03T06:25:09.000Z' '2017-06-03T06:50:47.000Z'
 '2017-06-03T07:21:48.000Z' '2017-06-03T15:23:01.000Z'
 '2017-06-03T15:54:03.000Z' '2017-06-03T16:17:55.000Z'
 '2017-05-18T04:13:37.000Z' '2017-06-04T09:36:20.000Z'
 '2017-06-04T10:13:36.000Z' '2017-06-04T10:33:55.000Z'
 '2017-06-04T10:52:46.000Z']

A05_end ['2017-04-02T17:29:08.000Z' '2017-04-02T17:26:19.000Z'
 '2017-04-02T17:26:53.000Z' '2017-04-02T17:27:16.000Z'
 '2017-04-02T17:27:35.000Z' '2017-04-02T17:28:02.000Z'
 '2017-04-02T17:28:19.000Z' '2017-04-02T17:28:39.000Z'
 '2017-04-02T16:42:08.000Z' '2017-04-02T17:25:11.000Z'
 '2017-04-03T03:31:10.000Z' '2017-04-03T03:58:34.000Z'
 '2017-04-03T04:19:36.000Z' '2017-04-03T04:50:05.000Z'
 '2017-04-03T05:28:44.000Z' '2017-04-03T05:40:53.000Z'
 '2017-04-03T05:57:57.000Z' '2017-04-03T12:39:48.000Z'
 '2017-04-03T12:53:29.000Z' '2017-04-03T14:20:04.000Z'
 '2017-04-03T14:44:39.000Z' '2017-04-03T16:40:47.000Z'
 '2017-04-03T17:04:28.000Z' '2017-04-03T17:43:01.000Z'
 '2017-04-04T04:29:47.000Z' '2017-04-04T04:44:19.000Z'
 '2017-04-05T05:14:45.000Z' '2017-04-05T05:36:18.000Z'
 '2017-04-05T06:05:44.000Z' '2017-04-05T06:20:39.000Z'
 '2017-04-05T06:38:26.000Z' '2017-04-05T08:05:32.000Z'
 '2017-04-05T08:25:48.000Z' '2017-04-05T16:21:59.000Z'
 '2017-04-05T16:50:25.000Z' '2017-04-05T17:10:53.000Z'
 '2017-04-05T17:26:51.000Z' '2017-04-05T17:50:57.000Z'
 '2017-04-06T08:44:47.000Z' '2017-04-06T09:03:47.000Z'
 '2017-04-06T09:14:05.000Z' '2017-04-06T09:30:54.000Z'
 '2017-04-06T09:53:53.000Z' '2017-04-06T14:53:01.000Z'
 '2017-04-06T15:11:57.000Z' '2017-04-06T15:45:32.000Z'
 '2017-04-07T14:19:45.000Z' '2017-04-07T14:40:23.000Z'
 '2017-04-07T14:55:51.000Z' '2017-04-07T15:26:23.000Z'
 '2017-04-07T15:39:10.000Z' '2017-04-08T05:02:58.000Z'
 '2017-04-08T05:33:51.000Z' '2017-04-08T05:52:15.000Z'
 '2017-04-08T06:05:41.000Z' '2017-04-08T06:26:12.000Z'
 '2017-04-08T06:39:40.000Z' '2017-04-08T08:48:51.000Z'
 '2017-04-08T09:02:34.000Z' '2017-04-08T09:20:18.000Z'
 '2017-04-08T11:14:09.000Z' '2017-04-08T13:41:21.000Z'
 '2017-04-08T13:52:07.000Z' '2017-04-08T14:02:24.000Z'
 '2017-04-08T14:15:45.000Z' '2017-04-08T21:33:45.000Z'
 '2017-04-08T21:49:02.000Z' '2017-04-09T22:06:57.000Z'
 '2017-04-09T22:21:08.000Z' '2017-04-09T22:40:57.000Z'
 '2017-04-09T15:19:22.000Z' '2017-04-09T05:27:41.000Z'
 '2017-04-09T05:43:51.000Z' '2017-04-09T06:16:11.000Z'
 '2017-04-09T06:28:48.000Z' '2017-04-09T06:48:01.000Z'
 '2017-04-09T07:14:16.000Z' '2017-04-09T08:22:34.000Z'
 '2017-04-09T08:42:02.000Z' '2017-04-09T09:07:48.000Z'
 '2017-04-09T09:34:12.000Z' '2017-04-09T15:46:14.000Z'
 '2017-04-09T16:12:46.000Z' '2017-04-09T16:35:24.000Z'
 '2017-04-09T18:31:40.000Z' '2017-04-09T19:14:52.000Z'
 '2017-04-09T19:27:56.000Z' '2017-04-09T19:45:38.000Z'
 '2017-04-09T20:08:15.000Z' '2017-04-26T16:13:33.000Z'
 '2017-04-26T16:45:01.000Z' '2017-04-26T17:26:21.000Z'
 '2017-04-27T12:56:42.000Z' '2017-04-27T13:23:06.000Z'
 '2017-04-27T16:41:41.000Z' '2017-04-27T18:11:54.000Z'
 '2017-04-27T18:09:45.000Z' '2017-04-28T06:52:04.000Z'
 '2017-04-28T07:31:38.000Z' '2017-04-28T09:25:51.000Z'
 '2017-04-28T15:18:10.000Z' '2017-04-28T15:58:10.000Z'
 '2017-04-30T06:47:01.000Z' '2017-05-03T13:37:53.000Z'
 '2017-05-03T13:58:06.000Z' '2017-05-03T14:27:03.000Z'
 '2017-05-04T10:46:35.000Z' '2017-05-04T11:16:05.000Z'
 '2017-05-04T11:38:38.000Z' '2017-05-11T05:41:56.000Z'
 '2017-05-11T06:08:58.000Z' '2017-05-11T06:22:19.000Z'
 '2017-05-11T06:55:35.000Z' '2017-05-18T05:02:38.000Z'
 '2017-05-18T06:37:10.000Z' '2017-05-18T10:56:00.000Z'
 '2017-05-18T11:07:35.000Z' '2017-06-03T05:32:19.000Z'
 '2017-06-03T05:51:49.000Z' '2017-06-03T06:25:06.000Z'
 '2017-06-03T06:45:06.000Z' '2017-06-03T07:20:21.000Z'
 '2017-06-03T07:51:29.000Z' '2017-06-03T15:53:10.000Z'
 '2017-06-03T16:17:26.000Z' '2017-06-03T17:16:39.000Z'
 '2017-05-18T04:35:47.000Z' '2017-06-04T10:13:32.000Z'
 '2017-06-04T10:32:06.000Z' '2017-06-04T10:52:22.000Z'
 '2017-06-04T11:08:13.000Z']

A06_province ['Province1']

A07_district ['District1' 'District2']

A08_ward ['Ward2' 'Ward1']

A09_village ['Village2' 'Village3' 'Village1' 'Villagez' 'Village1a' 'Village1b']

A11_years_farm [11  2 40  6 18  3 20 16 22  7 30 24 10 14 12  8 36 15 53 45 23 19 25 21
 48 35 60  5  1  9 41  4 17 50 13]

A12_agr_assoc ['no' 'yes']

B11_remittance_money ['no' 'yes']

B16_years_liv [ 4  9 15  6 40  3 38 70 23 20  8 30 47  1 36  2 10 22 69 34 18 45 19 29
  7 42 58 26 16 27 60 14  5 37 31 52 12 25 41 79 13 50 21 24 43 48 49 96
 28 17]

B17_parents_liv ['no' 'yes']

B18_sp_parents_liv ['yes' 'no']

B19_grand_liv ['no' 'yes']

B20_sp_grand_liv ['yes' 'no']

B_no_membrs [ 3  7 10  6 12  8  5  4  9 11  2 19 17 14 15]

C01_respondent_roof_type ['grass' 'mabatisloping' 'mabatipitched']

C02_respondent_wall_type ['muddaub' 'burntbricks' 'sunbricks' 'cement']

C02_respondent_wall_type_other [nan]

C03_respondent_floor_type ['earth' 'cement']

C04_window_type ['no' 'yes']

C05_buildings_in_compound [1 2 3 7 8 4 5]

C06_rooms [1 3 5 2 4 8]

C07_other_buildings ['no' 'yes']

D_plots_count [2 3 1 4 8 5 6]

E01_water_use ['no' 'yes']

E17_no_enough_water [nan 'yes' 'no']

E19_period_use [ 0.  2. 10.  6. 22. 20.  7. 30.  8.  4. 45. 23.  9.  5.  3. 21.  1. 15.
 16. 35. 12. 13. 11. 24. 17.]

E20_exper_other [nan 'yes' 'no']

E21_other_meth [nan 'no' 'yes']

E23_memb_assoc [nan 'yes' 'no']

E24_resp_assoc [nan 'no' 'yes']

E25_fees_water [nan 'no' 'yes']

E26_affect_conflicts [nan 'once' 'never' 'more_once' 'frequently']

E_no_group_count [ 2. nan  1.  3.]

E_yes_group_count [nan  3.  4.  2.  8.  5.  1.  6.]

F04_need_money [nan 'no' 'yes']

F05_money_source_other [nan]

F06_crops_contr [nan 'more_half' 'abt_half' 'less_half']

F08_emply_lab ['no' 'yes']

F09_du_labour ['no' 'yes']

F10_liv_owned_other [nan]

F12_poultry ['yes' 'no']

F13_du_look_aftr_cows ['no' 'yes']

F_liv_count [1 3 2 4 5]

G01_no_meals [2 3]

_members_count [ 3  7 10  6 12  8  5  4  9 11  2 19 17 14 15]

_note [nan]

gps:Accuracy [  14.      19.      13.       5.      10.      12.      11.       9.
   15.      17.      30.      27.      20.       7.       6.       4.
    8.      22.112   28.      18.      25.      39.    2099.999   50.
   33.    1911.    1799.999 2000.       3.   ]

gps:Altitude [698 690 674 679 689 692 709 700 701 710 707 696 706 715 685 716 722 699
 745 721 657 669 704 703 695 733 711   0 605 694 718 687 681 702 723 683
 712 719 717 708 676 691 713 714 705 693 697 735 682 720]

gps:Latitude [-19.11225943 -19.11247712 -19.1121076  -19.11222901 -19.11221722
 -19.1121959  -19.11221904 -19.11215963 -19.11221518 -19.1122147
 -19.11219126 -19.11229465 -19.11236935 -19.11222089 -19.1120793
 -19.11210678 -19.11218314 -19.11133515 -19.11142642 -19.11147317
 -19.11155014 -19.11212691 -19.11219352 -19.11218803 -19.11223416
 -19.11230411 -19.0430007  -19.04290893 -19.04302413 -19.04300478
 -19.04302176 -19.04411399 -19.04414887 -19.11219065 -19.11211362
 -19.11218058 -19.11217951 -19.11222939 -19.0433618  -19.04339398
 -19.04346041 -19.04303063 -19.04315107 -19.04312371 -19.04307032
 -19.11226093 -19.11222978 -19.11228265 -19.11220496 -19.11221446
 -19.11223637 -19.11216571 -19.11220247 -19.11228974 -19.11217264
 -19.11227947 -19.1121758  -19.1123395  -19.11225763 -19.11218035
 -19.11216869 -19.11220024 -19.1121962  -19.11221474 -19.1121722
 -19.11209398 -19.11214985 -19.11216693 -19.11217415 -19.11220603
 -19.11221396 -19.1041288  -19.1121034  -19.11223572 -19.11220708
 -19.1123581  -19.1120537  -19.11204921 -19.11207501 -19.11204151
 -19.11232028 -19.1122345  -19.11220559 -19.11220357 -19.11218716
 -19.11212338 -19.11217226 -19.11218863 -19.11221489 -19.11219747
 -19.11220193 -19.11231638 -19.11235114 -19.11231667 -19.11223501
 -19.11219049 -19.04413333 -19.04402591 -19.04415001 -19.11225606
 -19.11221203 -19.11220965 -19.11222402 -19.11219756 -19.11222682
 -19.11220573 -19.11218005 -19.11225658 -19.1114691  -19.11218801
 -19.1124845  -19.11147739 -19.11149498 -19.11218456 -19.11217437
 -19.1138589  -19.1149887  -19.11216751 -19.11217963 -19.11216796
 -19.11219207 -19.11215404 -19.11219355 -19.11215668 -19.11227133
 -19.11227751 -19.11218302]

gps:Longitude [33.48345609 33.48341568 33.48344998 33.48342395 33.48342524 33.48339187
 33.48336498 33.48341914 33.48343695 33.48339436 33.48345933 33.48341504
 33.48355635 33.4834388  33.48339657 33.48344397 33.48346325 33.47630848
 33.47640837 33.47619213 33.47623134 33.48350764 33.4833833  33.48343475
 33.4834841  33.48354341 33.40508367 33.40506932 33.40507276 33.40505449
 33.40509382 33.40390565 33.40383602 33.48341559 33.48342515 33.4833843
 33.48339525 33.48337467 33.4046671  33.40485363 33.40484617 33.40472726
 33.40458039 33.40466493 33.40458421 33.48339791 33.48353345 33.48334844
 33.48344521 33.48338443 33.48335287 33.48343865 33.48335527 33.48333393
 33.48341837 33.48338576 33.48332076 33.48333251 33.48341208 33.48341635
 33.48339699 33.4833903  33.48339576 33.48341209 33.48339142 33.48338805
 33.4834782  33.48340465 33.48341471 33.48332601 33.48341359 33.4777622
 33.48344669 33.48345393 33.48342364 33.48355586 33.48349493 33.48346659
 33.48351086 33.48345447 33.48346266 33.48349248 33.48342104 33.48340018
 33.4833828  33.48338774 33.48338504 33.48340466 33.48347358 33.48341488
 33.48341762 33.48349754 33.48358508 33.48348329 33.48341767 33.48337002
 33.40388996 33.40398184 33.40390046 33.4833734  33.48350526 33.48340866
 33.48338036 33.48339714 33.48340708 33.48344178 33.4834101  33.48334839
 33.4761047  33.48342233 33.4763322  33.47618369 33.47617506 33.4834495
 33.48346513 33.4826653  33.4882685  33.48340539 33.48336019 33.48341529
 33.48338051 33.48335905 33.48337856 33.48339039 33.48347111 33.48338952
 33.48337175]

instanceID ['uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef'
 'uuid:099de9c9-3e5e-427b-8452-26250e840d6e'
 'uuid:193d7daf-9582-409b-bf09-027dd36f9007'
 'uuid:148d1105-778a-4755-aa71-281eadd4a973'
 'uuid:2c867811-9696-4966-9866-f35c3e97d02d'
 'uuid:daa56c91-c8e3-44c3-a663-af6a49a2ca70'
 'uuid:ae20a58d-56f4-43d7-bafa-e7963d850844'
 'uuid:d6cee930-7be1-4fd9-88c0-82a08f90fb5a'
 'uuid:846103d2-b1db-4055-b502-9cd510bb7b37'
 'uuid:8f4e49bc-da81-4356-ae34-e0d794a23721'
 'uuid:d29b44e3-3348-4afc-aa4d-9eb34c89d483'
 'uuid:e6ee6269-b467-4e37-91fc-5e9eaf934557'
 'uuid:6c00c145-ee3b-409c-8c02-2c8d743b6918'
 'uuid:9b21467f-1116-4340-a3b1-1ab64f13c87d'
 'uuid:a837e545-ff86-4a1c-a1a5-6186804b985f'
 'uuid:d17db52f-4b87-4768-b534-ea8f9704c565'
 'uuid:4707f3dc-df18-4348-9c2c-eec651e89b6b'
 'uuid:7ffe7bd1-a15c-420c-a137-e1f006c317a3'
 'uuid:e32f2dc0-0d05-42fb-8e21-605757ddf07d'
 'uuid:d1005274-bf52-4e79-8380-3350dd7c2bac'
 'uuid:6570a7d0-6a0b-452c-aa2e-922500e35749'
 'uuid:a51c3006-8847-46ff-9d4e-d29919b8ecf9'
 'uuid:58b37b6d-d6cd-4414-8790-b9c68bca98de'
 'uuid:661457d3-7e61-45e8-a238-7415e7548f82'
 'uuid:45ed84c4-114e-4df0-9f5d-c800806c2bee'
 'uuid:1c54ee24-22c4-4ee9-b1ad-42d483c08e2e'
 'uuid:3197cded-1fdc-4c0c-9b10-cfcc0bf49c4d'
 'uuid:1de53318-a8cf-4736-99b1-8239f8822473'
 'uuid:adcd7463-8943-4c67-b25f-f72311409476'
 'uuid:59341ead-92be-45a9-8545-6edf9f94fdc6'
 'uuid:cb06eb49-dd39-4150-8bbe-a599e074afe8'
 'uuid:25597af3-cd79-449c-a48a-fb9aea6c48bf'
 'uuid:0fbd2df1-2640-4550-9fbd-7317feaa4758'
 'uuid:14c78c45-a7cc-4b2a-b765-17c82b43feb4'
 'uuid:ff7496e7-984a-47d3-a8a1-13618b5683ce'
 'uuid:c90eade0-1148-4a12-8c0e-6387a36f45b1'
 'uuid:408c6c93-d723-45ef-8dee-1b1bd3fe20cd'
 'uuid:81309594-ff58-4dc1-83a7-72af5952ee08'
 'uuid:c0fb6310-55af-4831-ae3d-2729556c3285'
 'uuid:c0b34854-eede-4e81-b183-ef58a45bfc34'
 'uuid:b3ba34d8-eea1-453d-bc73-c141bcbbc5e5'
 'uuid:e3a1dd8a-1bda-428c-a014-2b527f11ae64'
 'uuid:b4dff49f-ef27-40e5-a9d1-acf287b47358'
 'uuid:f9fadf44-d040-4fca-86c1-2835f79c4952'
 'uuid:e3554d22-35b1-4fb9-b386-dd5866ad5792'
 'uuid:35f297e0-aa5d-4149-9b7b-4965004cfc37'
 'uuid:2d0b1936-4f82-4ec3-a3b5-7c3c8cd6cc2b'
 'uuid:e180899c-7614-49eb-a97c-40ed013a38a2'
 'uuid:2303ebc1-2b3c-475a-8916-b322ebf18440'
 'uuid:4267c33c-53a7-46d9-8bd6-b96f58a4f92c'
 'uuid:18ac8e77-bdaf-47ab-85a2-e4c947c9d3ce'
 'uuid:6db55cb4-a853-4000-9555-757b7fae2bcf'
 'uuid:cc7f75c5-d13e-43f3-97e5-4f4c03cb4b12'
 'uuid:273ab27f-9be3-4f3b-83c9-d3e1592de919'
 'uuid:883c0433-9891-4121-bc63-744f082c1fa0'
 'uuid:973c4ac6-f887-48e7-aeaf-4476f2cfab76'
 'uuid:a7184e55-0615-492d-9835-8f44f3b03a71'
 'uuid:a7a3451f-cd0d-4027-82d9-8dcd1234fcca'
 'uuid:1936db62-5732-45dc-98ff-9b3ac7a22518'
 'uuid:85465caf-23e4-4283-bb72-a0ef30e30176'
 'uuid:2401cf50-8859-44d9-bd14-1bf9128766f2'
 'uuid:c6597ecc-cc2a-4c35-a6dc-e62c71b345d6'
 'uuid:86ed4328-7688-462f-aac7-d6518414526a'
 'uuid:28cfd718-bf62-4d90-8100-55fafbe45d06'
 'uuid:143f7478-0126-4fbc-86e0-5d324339206b'
 'uuid:a457eab8-971b-4417-a971-2e55b8702816'
 'uuid:6c15d667-2860-47e3-a5e7-7f679271e419'
 'uuid:ef04b3eb-b47d-412e-9b09-4f5e08fc66f9'
 'uuid:f86933a5-12b8-4427-b821-43c5b039401d'
 'uuid:1feb0108-4599-4bf9-8a07-1f5e66a50a0a'
 'uuid:761f9c49-ec93-4932-ba4c-cc7b78dfcef1'
 'uuid:f6d04b41-b539-4e00-868a-0f62b427587d'
 'uuid:429d279a-a519-4dcc-9f64-4673b0fd5d53'
 'uuid:59738c17-1cda-49ee-a563-acd76f6bc487'
 'uuid:7e7961ca-fa1c-4567-9bfa-a02f876e4e03'
 'uuid:77b3021b-a9d6-4276-aaeb-5bfcfd413852'
 'uuid:2186e2ec-f65a-47cc-9bc1-a0f36dd9591c'
 'uuid:87998c33-c8d2-49ec-9dae-c123735957ec'
 'uuid:ece89122-ea99-4378-b67e-a170127ec4e6'
 'uuid:bf373763-dca5-4906-901b-d1bacb4f0286'
 'uuid:394033e8-a6e2-4e39-bfac-458753a1ed78'
 'uuid:268bfd97-991c-473f-bd51-bc80676c65c6'
 'uuid:0a42c9ee-a840-4dda-8123-15c1bede5dfc'
 'uuid:2c132929-9c8f-450a-81ff-367360ce2c19'
 'uuid:44e427d1-a448-4bf2-b529-7d67b2266c06'
 'uuid:85c99fd2-775f-40c9-8654-68223f59d091'
 'uuid:28c64954-739c-444c-a6e0-355878e471c8'
 'uuid:9e79a31c-3ea5-44f0-80f9-a32db49422e3'
 'uuid:06d39051-38ef-4757-b68b-3327b1f16b9d'
 'uuid:c4a2c982-244e-45a5-aa4b-71fa53f99e18'
 'uuid:ac3da862-9e6c-4962-94b6-f4c31624f207'
 'uuid:4178a296-903a-4a8e-9cfa-0cd6143476e8'
 'uuid:a1e9df00-c8ae-411c-931c-c7df898c68d0'
 'uuid:4d0f472b-f8ae-4026-87c9-6b5be14b0a70'
 'uuid:b3b309c6-f234-4830-8b30-87d26a17ee1d'
 'uuid:3c174acd-e431-4523-9ad6-eb14cddca805'
 'uuid:e9d79844-ef14-493b-bbd6-d13691cc660e'
 'uuid:76206b0b-af74-4344-b24f-81e839f0d7b0'
 'uuid:da3fa7cc-5ce9-44fd-9a78-b8982b607515'
 'uuid:a85df6df-0336-46fa-a9f4-522bf6f8b438'
 'uuid:bb2bb365-7d7d-4fe9-9353-b21269676119'
 'uuid:af0904ee-4fdb-4090-973f-599c81ddf022'
 'uuid:468797c1-4a65-4f35-9c83-e28ce46972a2'
 'uuid:602cd3f6-4a97-49c6-80e3-bcfd5c78dfa4'
 'uuid:e7c51ac4-24e4-475e-88e7-f85e896945e3'
 'uuid:01210861-aba1-4268-98d0-0260e05f5155'
 'uuid:77335b2e-8812-4a35-b1e5-ca9ab626dfea'
 'uuid:02b05c68-302e-4e7a-b229-81cb1377fd29'
 'uuid:fa201fce-4e94-44b8-b435-c558c2e1ed55'
 'uuid:628fe23d-188f-43e4-a203-a4bf3257d461'
 'uuid:e4f4d6ba-e698-45a5-947f-ba6da88cc22b'
 'uuid:cfee6297-2c0e-4f8a-94cc-9aaee0bd64cb'
 'uuid:3fe626b3-c794-48e1-a80f-5bfe440c507b'
 'uuid:0670cef6-d233-4852-89d8-36955261b0a3'
 'uuid:9a096a12-b335-468c-b3cc-1191180d62de'
 'uuid:92613d0d-e7b1-4d62-8ea4-451d7cd0a982'
 'uuid:37577f91-d665-443e-8d70-b914954cef4b'
 'uuid:f22831ec-6bc3-4b73-9197-4b01e01abb66'
 'uuid:62f3f7af-f0f3-4f88-b9e0-acf8baa49ae4'
 'uuid:40aac732-94df-496c-97ba-5b67f59bcc7a'
 'uuid:a9d1a013-043b-475d-a71b-77ed80abe970'
 'uuid:43ec6132-478c-4f87-878d-fb3c0c4d0c74'
 'uuid:64fc743e-8176-40f6-8ae4-36ae97fac1d9'
 'uuid:c17e374c-280b-4e78-bf21-74a7c1c73492'
 'uuid:dad53aff-b520-4015-a9e3-f5fdf9168fe1'
 'uuid:f94409a6-e461-4e4c-a6fb-0072d3d58b00'

In [42]:
# for col in list(df.columns):
#     # print(col)
#     move on to other code...

# END OF REVIEW :)