In [1]:
print('Hello World!!')

Hello World!!

This is text.

# UCO Carpentry Workshop

## Python - Day 1

### Nathalia Graf-Grachet

#### Goals:

1. Jupyter notebook
2. Variables & data types 
3. Storing multiple values - data structures
4. For loops and conditionals
5. Functions
7. Automation
6. Errors and help

## Jupyter

**Setup**  http://swcarpentry.github.io/python-novice-gapminder/setup/

**Jupyter**  http://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html

https://www.oreilly.com/ideas/what-is-jupyter

Jupyter is one way to write code with Python. It's really nice because we can save all the commands and all notes as a notebook. If you work in a lab, you probably have a lab notebook that you keep with all your protocols, your modifications to the protocol, results, discussion, etc. Jupyter notebook is the same but for your code. For those of you wanting to get into programming and you need to keep notes of your scripts, jupyter is a great way to keep scripts, code, and notes.

Things to point out in jupyter:

Header bar == notebook name, last time saved (checkpoint)  
Tool bar == icons

- name/rename the notebook
- save 
- adding cells below
- cell layout = where code goes, where output shows
- different cells (code and markdown)
    example of python code   
    example of markdown (headings, bold, italic, bullet points, lists, line breaks (2 spaces, or < br >))  
- when writing code, run cell
- click or double-click on a cell (blue color - 'selected'), then click inside the code box (turns green - can write)
- go back, re-write code and run the same cell

# 8/12/2019

## Level 2 Heading

### Level 3 Heading

This text is *italicized*.  
This text is **bold**.   
This text is ***bold and italicized***.

- item 1
- item 2

-nospaceitem3


1. ordered item1
2. ordered item2  
    1. ordered subitem 
    2. ordered subitem2
4. and another ordered item.
10. number does not matter

In Jupyter, you can freely mix in mathematical expressions using the MathJax subset of Tex and LaTeX.

I like some math equations:

\begin{equation*}
\left( \sum_{k=1}^n a_k b_k \right)^2 \leq \left( \sum_{k=1}^n a_k^2 \right) \left( \sum_{k=1}^n b_k^2 \right)
\end{equation*}


and this one:

\begin{equation*}
P(E)   = {n \choose k} p^k (1-p)^{ n-k}
\end{equation*}


You can even mix math and formatted text in a paragraph. Just write expressions like so: `$\expression$` and they render like this: $\sqrt{3x-1}+(1+x)^2$

In [2]:
# This is a comment, Python does not read as code...
# It's useful to write little comments in your code... helps you remember what you wrote (:

## Let's define some Python terms...

Python is a **object** oriented language... (huh... okay)

**Object:** pretty much all the *stuff*. It's any data, any group of data, any arrangement of data, files, functions written by us of by python (built-in functions).  
    
    Data will be stored in variables
    
**Data types:** different types of data = string, integer, float, list, dictionary, etc.
```
'string'
25
3.14
```

**Functions:** a ***little programs*** that do things with the data, such as print, get maximum value, etc. Could be built-in, or created by user.  
```
function_name(your_data_object)
```

**Methods:** are functions, but methods are functions that belong to an object. Different objects will have specific methods/functions. We'll work with strings and lists today -- string methods won't work with lists, even if the method returns the same information.
```
your_data_object.method_name(maybe_an_option)
```

## Variables

#### First of all: what's a variable?

A variable is an imaginary box that we store values or data in. If you have a file with data, which could be a table with entries and numbers or genomic data, python will only process that data if it's in variable.

Use `=` to assign a value to a variable.

Variable names on the left -- values on the right.

Variable name is arbitrary -- no spaces, letters (lowercase, case-sensitive), digits (cannot start with a digit), but choose a name that is meaningful to you

In [3]:
age = 31
first_name = 'Nathalia'

You must create the variables before you can work with it.  

Variables created in this notebook will persist between cells.

Use the built-in function `print(x)` to print the values of your variables.  
`x` is your variable.

In [4]:
print(age) # Did you notice that Jupyter automatically writes the closing paranthesis?!

31

In [5]:
print(first_name) # remember the tab auto complete?! It works here too!

Nathalia

In [6]:
age # interactive

31

In [7]:
first_name

'Nathalia'

# Data Types

FYI, I'll be creating a lof of variables. Some will have similar names, which can get confusing. I apologize in advance! If something is not clear, or if it got confused, make sure you stop me!!

##### 1. String

In [8]:
fruit='mango'

In [9]:
fruits='mango and orange'

In [10]:
print(fruit)
print(fruits)

mango
mango and orange

##### 2. Integers == whole numbers

In [11]:
age=31

In [12]:
tires=4

##### 3. Floats == decimals, fractions

In [13]:
fraction_a = 3/8

In [14]:
a_decimal=0.35

In [15]:
a_exponent=1e-10

##### 4. Boolean

In [16]:
True

True

In [17]:
False

False

In [18]:
True == True

True

In [19]:
True == False

False

In [20]:
False == False

True

# Object types, data structures

##### 1. List

A list stores many values in a single variable.  

Create a list by writing values separated by `,` within `[]`

In [21]:
groceries = ['bread','cheese','tomato']

In [22]:
groceries

['bread', 'cheese', 'tomato']

##### 2. Dictionary

A dictionary stores values as key value pairs.

Create a dictionary by writing `'key':'value'` pairs separated by `,` within `{ }`

In [23]:
jewlery = {'necklace' : 3.45, 'bracelet': 7e4 }

##### 3. Set

A set is a collection of **unique** elements/values.

Create a set by writing `set(list)`

In [24]:
rainfall_list=[1,1,1,3,1.5,5]
rainfall_set=set(rainfall_list)
rainfall_set

{1, 1.5, 3, 5}

# Find out the object/data type

`type(x)` is built-in function that returns the type of data stored in a variable.

In [25]:
type(fruit)

str

In [26]:
type(tires)

int

In [27]:
type(a_exponent)

float

In [28]:
type(groceries)

list

In [29]:
type(jewlery)

dict

In [30]:
type(rainfall_set)

set

In [31]:
type(True)

bool

# Built-in functions:

## `print(x)`

`print()` can take strings and variables.  
This function will automatically put a single space between arguments, and a new line at the end.

In [32]:
print('My age is',age)

My age is 31

## `len(x)`

In [33]:
g=len(fruit) # number of characters in the string
print(g)

5

**As nested function:**

In [34]:
print(len(groceries)) # how many items in a list

3

# Calculations

In [35]:
a=1.5
b=4.5

In [36]:
c=a+b
print(c)

6.0

In [37]:
d=c/a
print(d)

4.0

In [38]:
e=c/b
print(e)

1.3333333333333333

In [39]:
9//2 # floor division, returns quotient

4

In [40]:
9%2 # modulus, returns remainder

1

In [41]:
print("{0:.2f}".format(e))
round(e,2)

1.33

1.33

# Import `math` module for more mathematical functions

In [42]:
import math

If you need to use the constant `pi`, you can:

In [43]:
math.pi

3.141592653589793

In [44]:
math.factorial(10)

3628800

You must call the package name first. `pi` is a variable that had the constant value stored in it.

The value is only available when you call `math.pi`

If you call `pi` Python thinks it's a variable you created.

In [45]:
math.tau

6.283185307179586

In [46]:
math.pi*2

6.283185307179586

In [47]:
round(math.pi*2,2)

6.28

# Operations

Can't add numbers and strings... even if the string is a number.

`a=1` is different than `a='1'`

Must convert numbers to strings, or vice-versa

In [48]:
g='3'

In [49]:
print(1 + g) # run cell, see errors, and then than do conver int(g)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
print(str(g) + '2')

In [50]:
print('-' * 100)

----------------------------------------------------------------------------------------------------

# Re-assigning value to a variable

`age =31`

In [51]:
age

31

In [52]:
age=age+5

In [53]:
age

36

31 was replaced by 31+5

In [54]:
age=31

In [55]:
my_age=age-6
my_age

25

In [56]:
age

31

# STRING

## Index `[x]`

In [57]:
first_name

'Nathalia'

In [58]:
first_name[0]

'N'

In [59]:
first_name[3]

'h'

# STRING

## Slicing `[start_index : end_index]` 

`end_index` not inclusive

In [60]:
first_name[0:3]

'Nat'

In [61]:
first_name[0:8]

'Nathalia'

In [62]:
nickname=first_name[0:3]+'y'
print(nickname)

Naty

# LIST

## Index and slicing

In [63]:
fruits[2]

'n'

In [64]:
fruits[0:3]

'man'

In [65]:
fruit_basket=fruits[0:3]
print(fruit_basket)

man

In [66]:
fruits

'mango and orange'

In [67]:
fruit_basket

'man'

# LIST
## Appending items to a list with `.append(x)` method

In [68]:
fruits = ['mango','orange']

In [69]:
fruits.append('tomato')
fruits.append('lime')

In [70]:
fruits

['mango', 'orange', 'tomato', 'lime']

## Appending with `extend(x)` method

In [71]:
berries=['raspberry','strawberry']

In [72]:
fruits.extend(berries) # append elements of a list to another list
print(fruits)

['mango', 'orange', 'tomato', 'lime', 'raspberry', 'strawberry']

## Appending a list to a list

In [73]:
veggies=['onion','garlic'] # append a list to a list

In [74]:
fruits.append(veggies)
print(fruits)

['mango', 'orange', 'tomato', 'lime', 'raspberry', 'strawberry', ['onion', 'garlic']]

In [75]:
fruits[-1]

['onion', 'garlic']

In [76]:
fruits[-1][0]

'onion'

# Lists are mutable, while strings are immutable

In [77]:
fruits[1]='nothing'
print(fruits)

['mango', 'nothing', 'tomato', 'lime', 'raspberry', 'strawberry', ['onion', 'garlic']]

In [78]:
first_name

'Nathalia'

In [79]:
first_name[2]='T'

TypeError: 'str' object does not support item assignment

# LIST
## Delete items from a list

In [80]:
del fruits[-1]

In [81]:
print(fruits)

['mango', 'nothing', 'tomato', 'lime', 'raspberry', 'strawberry']

In [82]:
fruits.pop(1)

'nothing'

In [83]:
fruits

['mango', 'tomato', 'lime', 'raspberry', 'strawberry']

In [84]:
fruits.remove('lime')

In [85]:
fruits

['mango', 'tomato', 'raspberry', 'strawberry']

# Sort - list function

In [86]:
ages=[2,3,5,9,10,4,6,7,8]
ages

[2, 3, 5, 9, 10, 4, 6, 7, 8]

In [87]:
ages.append(15)
print(ages)

[2, 3, 5, 9, 10, 4, 6, 7, 8, 15]

In [88]:
ages.append(40)
print(ages)

[2, 3, 5, 9, 10, 4, 6, 7, 8, 15, 40]

In [89]:
a=1.5

In [90]:
ages.append(a)
print(ages)

[2, 3, 5, 9, 10, 4, 6, 7, 8, 15, 40, 1.5]

In [91]:
print(sorted(ages))

[1.5, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 40]

In [92]:
ages

[2, 3, 5, 9, 10, 4, 6, 7, 8, 15, 40, 1.5]

In [93]:
sorted_ages=sorted(ages) # creates a copy of the original list

In [94]:
print(sorted_ages)

[1.5, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 40]

In [95]:
ages

[2, 3, 5, 9, 10, 4, 6, 7, 8, 15, 40, 1.5]

In [96]:
ages.sort() # sorts in place, changes the original

In [97]:
ages

[1.5, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15, 40]

##### Other list functions

In [98]:
#len(list)
#max(list)
#min(list)

## FOR LOOPS

A for loop executes the same command through each value in a collection.

Building blocks of a for loop:

`for` `each-item-in-this` `in` `variable` `:`  
`(tab)` `do-something`

 
Start the for loop with `for`  
use `in` to indicate the variable  
end the first line with `:`  
indent the second line with `tab` (Jupyter does the indent automatically!)
 
`each-item-in-this` is an arbitrary name for each item in the variable/list.  
`do-something` is a command.

In [99]:
fruit_basket

'man'

In [100]:
for number in range(10): # does not include 10! 
    print(number)

0
1
2
3
4
5
6
7
8
9

In [101]:
total=0 # global variable

for i in range(10):
    total=total+i
    print(total)

0
1
3
6
10
15
21
28
36
45

In [102]:
total=0

for i in range(10):
    total=total+i

print(total)

45

In [103]:
data=[35,45,60,1.5,40,50]

In [104]:
for i in data:
    print(i*2)

70
90
120
3.0
80
100

# `if/else` statements 

conditional statement

serve to control the data inside the loop, control execution of the code

`if` `some-condition` `:`    
`(tab)` `do-something`  
`else` `:`  
`(tab)` `do-the-other-thing`

Start with `if`  
`some-condition` is a test that you want to run with your data  
end the line with `:`  
indent the line after if with `tab` (Jupyter does the indent automatically!)  
End the statement with `else` and `:` (notice that if and else are in the same indent)  
indent the line after the else with `tab`  
`do-the-other-thing` is the opposite test from the if statement.

# More Operators:

## Comparison operators:

`==` equality

`!=` not equal

`>` greater than, `>=` greater than or equal to

`<` less than, `<=` less than or equal to

In [105]:
weight=3.56
if weight >= 2:
    print(weight,'is greater or equal than 2')
else:
    print(weight,'is less than 2')

3.56 is greater or equal than 2

## Membership operators:

`in` and `not in`

In [106]:
jewlery

{'necklace': 3.45, 'bracelet': 70000.0}

In [107]:
if 'necklace' in jewlery: 
    print('I added the necklace')
else:
    print('I forgot to add the necklace')

I added the necklace

## Logical operators:

`not`, `or` and `and`

In [108]:
if 'necklace' and 'bracelet' in jewlery: 
    print('I added both')
else:
    print('I forgot to add one of them, or both')

I added both

In [109]:
if 'ring' or 'necklace' in jewlery: 
    print('I added at least one of them')
else:
    print('I forgot to add one of them, or both')

I added at least one of them

In [110]:
if 'ring' and 'necklace' not in jewlery: 
    print('I added at least one of them')
else:
    print('I forgot to add one of them, or both')

I forgot to add one of them, or both

# Use `if/else` conditionals inside a loop

In [111]:
for i in data:
    if i %2 == 0:
        print(i, 'is even')
    else:
        print(i)

35
45
60 is even
1.5
40 is even
50 is even

In [112]:
print('Data that are even:')
for i in data:
    if i %2 == 0:
        print(i, end=' ')
    else:
        continue # do a print('a') to see what's going on...

Data that are even:
60 40 50

In [113]:
for i in range(15):
    if i <= 5:
        print(i)
        #continue
    else:
        print(i,'is greater than 5')

0
1
2
3
4
5
6 is greater than 5
7 is greater than 5
8 is greater than 5
9 is greater than 5
10 is greater than 5
11 is greater than 5
12 is greater than 5
13 is greater than 5
14 is greater than 5

# More Operators:

## Boolean operators:

`True` and `False` 

They are also written by `False` == 0, and `True`==1

In [114]:
fruit_basket

'man'

In [115]:
for fruit in fruit_basket:
    print(fruit.isdigit()) # test if it's a digit

False
False
False

In [116]:
for fruit in fruit_basket:
    if fruit.isdigit() == False:
        print(fruit)# test if it's a digit

m
a
n

In [117]:
for fruit in fruit_basket:
    if fruit.isdigit() == 0:
        print(fruit)# test if it's a digit

m
a
n

# Challenge: reverse the string using a for loop

In [118]:
original = "waterfall"
result = ""
for char in original:
    result = char + result
#     print(char)
#     print(result)

print(result)

llafretaw

# Challenge: perform some operation with values of a dictionary

In [119]:
data={'rainfall_inches':[1.34,1.56,4.33],'temperature_F':[75,80,96],'location':['A','B','C']}

In [120]:
for i in data:
    #print(i)
    #print(data[i])
    if 'rain' in i: # test if i startswith 'rain', if True goes inside the elif loop; if False goes to else
        print('These are the rainfall in mm:')
        rain=data[i]
        for z in rain:
            print(round(z*25.4,1))
            
    elif i.startswith('temp'):
        print('These are the temperatures in Celsius:')
        temp=data[i]
        for j in temp:
            print(round((j-32)*5/9,2))
            
    else:
        continue

These are the rainfall in mm:
34.0
39.6
110.0
These are the temperatures in Celsius:
23.89
26.67
35.56

# Functions:

Created your own functions, specially if you need to make the same operation many times. This will make you code cleaner.

In [121]:
def convert_temp(temperature,unit):
    """Function to convert temperature from F to C, and vice-versa.
    Need temperature (integer or float) and unit (string, uppercase F or C)
    
    """
    t=int(temperature)
    u=str(unit)
    
    if u == 'C':
        fahr=(9/5*t)+32
        print( '{}C is {}F'.format(t,int(fahr)))
    
    elif u == 'F': # or else:
        celsius=(t-32)*5/9
        print('{}F is {}C'.format(t,int(celsius)))

In [122]:
convert_temp?

In [123]:
convert_temp(85,'C')

85C is 185F

In [124]:
def convert_temp2():
    """Function to convert temperature from F to C, and vice-versa.
    Accept user input.
    
    """
    t=int(input('Enter temperature:'))
    u=str(input('Enter unit (F or C):'))
    
    if u == 'C':
        fahr=9/5*t+32
        return '{}C is {}F'.format(t,int(fahr))
    
    elif u == 'F':
        celsius=(t-32)*5/9
        return '{}F is {}C'.format(t,int(celsius))
    
    else:
        return "Don't know how to convert..."

In [161]:
convert_temp2()

Enter temperature:85
Enter unit (F or C):F

'85F is 29C'

# Getting closer to real life data analysis:

In [126]:
data_dict={}
data_dict['tempf']=[]
data_dict['tempc']=[]

with open('mock_data.txt','r') as data:
    next(data)
    for line in data:
        line=line.rstrip().split(',') # split data into a list of strings
        #print(line)
        temp_f=int(line[0])
        temp_c=int(line[1])
        data_dict['tempf'].append(temp_f)
        data_dict['tempc'].append(temp_c)

            
#data_dict

In [127]:
for temp in data_dict:
    if temp.endswith('c'):
        for v in data_dict[temp]:
            convert_temp(v,'C')
    else:
        for v in data_dict[temp]:
            convert_temp(v,'F')

85F is 29C
110F is 43C
34F is 1C
32C is 89F
15C is 59F
23C is 73F

In [128]:
# with glob

import glob

files=glob.glob('mock*data.txt')
# print(files) # list of file names that match that pattern

for file in files:
    data_dict={}
    data_dict['tempf']=[]
    data_dict['tempc']=[]
    with open(file,'r') as data:
        print(data.name)
        next(data)
        for line in data:
            line=line.rstrip().split(',') # split data into a list of strings
            #print(line)
            temp_f=int(line[0])
            temp_c=int(line[1])
            data_dict['tempf'].append(temp_f)
            data_dict['tempc'].append(temp_c)

    for temp in data_dict:
        if temp.endswith('c'):
            for v in data_dict[temp]:
                convert_temp(v,'C')
        else:
            for v in data_dict[temp]:
                convert_temp(v,'F')
    print()

mock_data.txt
85F is 29C
110F is 43C
34F is 1C
32C is 89F
15C is 59F
23C is 73F

mock2_data.txt
85F is 29C
110F is 43C
34F is 1C
32C is 89F
15C is 59F
23C is 73F

## Errors

##### Variable errors

In [129]:
# need to create/define a variable before using it
chocolate_cake

NameError: name 'chocolate_cake' is not defined

In [130]:
# this also includes mispellings...
firt_name

NameError: name 'firt_name' is not defined

In [131]:
first_name

'Nathalia'

##### Syntax errors

In [132]:
# Syntax errors: when you forget to close a ) 
## EOF - end of file
## means that the end of your source code was reached before all code blocks were completed
print(len(first_name)

SyntaxError: unexpected EOF while parsing (<ipython-input-132-9aa910f8efe1>, line 4)

In [133]:
print(len(first_name))

8

In [134]:
# Syntax errors: when you forgot a , 
print(first_name,'age is:'age)

SyntaxError: invalid syntax (<ipython-input-134-91603502cda3>, line 2)

In [135]:
print(first_name,'age is:',age)

Nathalia age is: 31

In [136]:
# Syntax errors: forgot to close a quote ' in a string
## EOL = end of line
print(first_name,'age is:,age)

SyntaxError: EOL while scanning string literal (<ipython-input-136-4fcc5cd9871d>, line 3)

In [137]:
print(first_name,'age is:',age)

Nathalia age is: 31

In [138]:
# Syntax errors: when you forget the colon at the end of a line
for i in data
    print(i**2)

SyntaxError: invalid syntax (<ipython-input-138-ec20c8c9a5f0>, line 2)

In [139]:
for i in data:
    print(i**2)

ValueError: I/O operation on closed file.

In [140]:
# Indentation errors: forgot to indent
for i in data:
print(i**2)

IndentationError: expected an indented block (<ipython-input-140-9354b20bbb57>, line 3)

In [141]:
for i in data:
    print(i**2)

ValueError: I/O operation on closed file.

##### BUT character strings are IMMUTABLE

In [142]:
fruit

'n'

In [143]:
fruit[3]

IndexError: string index out of range

In [144]:
fruit[3]='K'

TypeError: 'str' object does not support item assignment

In [145]:
fruit

'n'

In [146]:
fruit_basket

'man'

In [147]:
fruit_basket[2]

'n'

In [148]:
fruit_basket[2][2]

IndexError: string index out of range

In [149]:
fruit_basket[2][2]='K'

TypeError: 'str' object does not support item assignment

In [150]:
fruit_basket[2]='lemon'

TypeError: 'str' object does not support item assignment

In [151]:
fruit_basket

'man'

##### Index errors

In [152]:
# Index error: when caling an index that does not exist
fruit_basket[5]

IndexError: string index out of range

In [153]:
fruit_basket[:]

'man'

### Help yo'self (:

In [154]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [155]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

```
help(your_data_object)
dir(your_data_object) 
```

## Items with double underscores have to do with classes, another type of object which is beyond the scope of this lesson to discuss. So for now, only focus your attention to the names that do not start with double underscores.